<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Classificador de Pokémon Lendário</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <span id="imagem1"><img src="{{ url_for('static', filename='Legendary_Logo_Pokemon.png') }}" alt=""></span></span>
  <div class="resultados">
    <h1>Classificador de Pokémon Lendário</h1>

    <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict') }}" method="post">
      <input type="text" name="Total" placeholder="Total" required="required" />
      <input type="text" name="HP" placeholder="HP" required="required" />
      <input type="text" name="Attack" placeholder="Attack" required="required" />
      <input type="text" name="Defense" placeholder="Defense" required="required" />
      <input type="text" name="Sp. Atk" placeholder="Special Attack" required="required" />
      <input type="text" name="Sp. Def" placeholder="Special Defense" required="required" />
      <input type="text" name="Speed" placeholder="Speed" required="required" />

      <button type="submit" class="btn btn-primary btn-block btn-large">Classificar Pokémon</button>
    </form>

    <br>
    <br>
    <h1>Resultado:</h1>
    {{ prediction_text }}
    <p>O modelo analisa as estatísticas, como os pontos de vida, ataque, defesa, velocidade e outras, para fazer uma análise. 
      Por exemplo, se você fornecer as estatísticas de um Pokémon como entrada para o modelo, 
      ele retornará a previsão de se o Pokémon é lendário ou não com base no treinamento que recebeu.</p>
    <p>Você pode ver as estátisticas dos pokémons neste site:</p>
    <a href="https://pokemondb.net/ev/all" target="_blank" rel="noopener noreferrer">pokemondb.net</a>
    <br>
    <span id="imagem2"><img src="{{ url_for('static', filename='ALLLegendary.png') }}" alt=""></span>
  </div>
</body>
</html>
